.main {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  width: 95%;
}

.label {
  display: flex;
  margin-block: 5px;
  width: 100%;
  font-size: 1.5rem;
  align-items: center;
}

.input {
  flex-grow: 1;
  max-width: 70%;
  padding: 5px;
  border-radius: 50px;
  font-size: 1.3rem;
  min-width: 0;
}

input:focus {
  background-color: var(--tertiary);
}

.submit {
  width: 30%;
  margin-block: 10px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 3px;
  font-size: 1.5rem;
  background-color: var(--secondary);
}

.errDiv {
  border: 5px solid rgb(200, 0, 0);
  padding: 20px;
  border-radius: 30px;
  width: fit-content;
}

.error {
  color: rgb(200, 0, 0);
  width: fit-content;
  margin: 0;
  font-size: 1.5rem;
}

.info {
  font-size: 1.5rem;
}
