.main {
  background-color: rgb(93, 93, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 30px;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin-block: 10px;
}

.anchor {
  place-self: center;
  width: min-content;
  text-decoration: none;
  color: black;
  text-align: center;
}

.nav {
  animation: show 1.5s ease-in-out both;
}

@keyframes show {
  0%,
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
