.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.item {
  margin-block: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  width: fit-content;
  background-color: rgb(0, 213, 0);
  border-radius: 20px;
}

.verticalLine {
  border-left: 3px solid black;
}

.anchor {
  place-self: center;
  width: min-content;
  text-decoration: none;
  color: black;
  text-align: center;
}
