.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.item {
  margin-block: 10px;
}

nav {
  width: clamp(200px, 75%, 500px);
}

.verticalLine {
  border-left: 3px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  display: flex;
  margin-block: 5px;
  width: 100%;
}

.input {
  flex-grow: 1;
}

.submit {
  width: 30%;
  margin-block: 5px;
}

table {
  border: 2px solid rgb(0, 0, 0);
}

th {
  border: 2px solid black;
}

td {
  border: 2px solid grey;
}

tbody > tr:nth-of-type(even) {
  background-color: grey;
}

.tableDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maxDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 9px outset rgb(35, 35, 35);
}

.max {
  font-size: 2rem;
}
